@import 'tailwindcss';
@import "@skeletonlabs/skeleton";
@import "@skeletonlabs/skeleton/themes/cerberus";
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/themes/catppuccin';

@import '@skeletonlabs/skeleton-svelte';

@custom-variant dark (&:where(.dark, .dark *));